-# ページのヘッダー部分
.common.container
  %header.common-header
    %h1
      = link_to root_path do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336", alt: "merucari",class: 'common-header__image'
  -# 登録方法選択画面
  %main.contents-main
    %section.contents-container
      %h2.contents-head
        新規会員登録
      .contents.registration-form
        .contents-select
          = link_to "/signup/step1",class:"contents__btn mail-address" do
            = fa_icon 'envelope'
            メールアドレスで登録する
          = link_to "#",class:"contents__btn facebook" do
            = fa_icon 'facebook-square'
            Facebookで登録する
          = link_to "#",class:"contents__btn google"  do
            = fa_icon 'google'
            Googleで登録する
  -# ページのフッダー部分
  %footer.common-footer
    %nav
      %ul.common-footer-container
        %li.common-footer-container__list
          = link_to "プライバシーポリシー"
        %li.common-footer-container__list
          = link_to "メルカリ利用規約"
        %li.common-footer-container__list
          = link_to "特定商取引に関する表記"
    = link_to root_path do
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994', alt: "mercari-logo-gray" , class: 'common-footer-container__logo'   
    %p
      %small©︎2019 Mercari
