//ユーザーログアウトページ
.user-container
  = render partial: "shared/main_header"
  %nav.bread-crumbs
    // パンくずリスト
    .bread-crumbs__line
      - breadcrumb :logout
      = breadcrumbs separator: " &rsaquo; ", class:"bread-crumbs-list"
      -# %ul
      -#   %li
      -#     = link_to do
      -#       %span
      -#         メルカリ
      -#     = fa_icon "chevron-right"
      -#   %li
      -#     = link_to do
      -#       %span
      -#         マイページ
      -#     = fa_icon "chevron-right"
      -#   %li
      -#     %span
      -#       ログアウト
    
  %main.l-container.clearfix
    .l-content
      .l-chapter-container
        %form{action: "", method: "POST", class: "l-single-inner", novalidate: "novalidate"}
          .l-single-content
            %button{type: "submit", class: "btn-default btn-red"}
              ログアウト

    // 部分テンプレートのサイドメニューを呼び出し
    = render partial: "side_menu"
    


  //バナーのテンプレートを挿入
  = render partial: "shared/adside-footer"
  //フッターのテンプレートを挿入
  = render partial: "shared/main_footer"
  //出品ボタンのテンプレート呼びだし
  = render partial: "shared/sell_btn"