.aside
  .aside-banner
    = link_to "//app.adjust.io/xio2ii?campaign=iOS&amp;adgroup=common.footer" do
      = image_tag "//web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"
      .adside-banner__link
        スマホでかんたんフリマアプリ
        .adside-banner__link__text
          今すぐ無料ダウンロード！
.aside2
  .aside2-banner
    .aside2-banner__links
      .aside2-banner__links__text1
        スマホでかんたんフリマアプリ
      .aside2-banner__links__text2
        今すぐ無料ダウンロード！
      .aside2-banner__links__logo
        = image_tag "//web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"
        = link_to "#" do
          = image_tag "appstore.jpg"
        = link_to "#" do
          = image_tag "googleplay.jpg"
    .aside2-banner__figure
      = image_tag "merucari5.jpg"