= render partial: 'shared/main_header'

.information-item
  .information-item_content
    .information-item_content__title
      ワンピースネイビー（example）商品の名前

    .information-item_content__detail
      .information-item_content__detail--image
        なんか画像
      
      .information-item_content__detail--price
        .information-item_content-price
          ¥2,500
        .information-item_content-detail
          .zeikomi_chara
            (税込)
        .information-item_content-detail2
          送料込み

      .information-item_content__detail--exhibit
        .information-detail_first-row
          .information-detail_first-row__title
            出品者
          .information-detail_first-row__seller
            .information-detail_first-row__seller--name
              るる（example）
            .information-detail_first-row__seller--like
              .seller-like_good
                = fa_icon 'fa-smile-o', class: 'fa-smile-o'
                .seller-like_good__number
                  400
              .seller-like_common
                = fa_icon 'fa-meh-o', class: 'fa-meh-o'
                .seller-like_common__number
                  200
              .seller-like_bad
                = fa_icon 'fa-frown-o', class: 'fa-frown-o'
                .seller-like_bad__number
                  100
        
        .information-detail_second-row
          .information-detail_second-row__title
            カテゴリー
          .information-detail_second-row__category
            .information-detail_second-row__category--1
              レディース
            .information-detail_second-row__category--2
              ＞靴
            .information-detail_second-row__category--3
              ＞ブーツ
        
        .information-detail_third-row
          .information-detail_third-row__title
            ブランド
          .information-detail_third-row__brand
            ブランド情報
        
        .information-detail_fourth-row
          .information-detail_fourth-row__title
            商品のサイズ
          .information-detail_fourth-row__size
            サイズ情報
        
        .information-detail_fifth-row
          .information-detail_fifth-row__title
            商品の状態
          .information-detail_fifth-row__status
            商品状態の情報
        
        .information-detail_sixth-row
          .information-detail_sixth-row__title
            配送料の負担
          .information-detail_sixth-row__shipping_charge
            配送料の負担情報
        
        .information-detail_seventh-row
          .information-detail_seventh-row__title
            配送の方法
          .information-detail_seventh-row__method
            配送の方法の情報
        
        .information-detail_eighth-row
          .information-detail_eighth-row__title
            発送元地域
          .information-detail_eighth-row__prefecture
            都道府県情報
        
        .information-detail_ninth-row
          .information-detail_ninth-row__title
            発送日の目安
          .information-detail_ninth-row__day
            発送日目安情報
      
      .information-item_content__detail--price
        .information-item_content-price
          ¥2,500
        .information-item_content-detail
          .zeikomi_chara
            (税込)
        .information-item_content-detail2
          送料込み
    
    .information-item_content__value
      .information-item_content__value--price
        ¥2,500
      .information-item_content__value--detail
        .zeikomi_chara
          (税込)
      .information-item_content__value--detail2
        送料込み
    
    = link_to '#' do
      .information-item_content__purchace
        購入画面に進む
    
    .information-item_content__description
      説明情報
    
    .information-item_content__bottom
      .information-item_content__bottom--like
        .information-item_heart-icon
          = fa_icon 'heart', class: 'fa-heart'
        .information-item_like
          いいね！
        .information-item_like-number
          10
      .information-item_content__bottom--report
        .information-item_flag-icon
          = fa_icon 'flag', class: 'fa-flag'
        .information-item_report
          不適切な商品の報告
      .information-item_content__bottom--safe
        .information-item_lock-icon
          = fa_icon 'lock', class: 'fa_lock'
        .information-item_safe
          あんしん・あんぜんへの取り組み
    
    .safe_effort
      .information-item_lock-icon
        = fa_icon 'lock', class: 'fa_lock'
      .information-item_safe
        あんしん・あんぜんへの取り組み


  .information-item_comment
    .information-item_comment__content
      .information-item_comment__content--left
        = link_to '#' do
          .information-item_user-icon
            icon画像
      .information-item_comment__content--right
        .information-item_user-name
          名前
        .information-item_user-comment
          .information-item_user-comment__content
            コメント内容
          .information-item_user-comment__bottom
            .information-item_user-comment__bottom--days
              = fa_icon 'clock', class: 'fa-clock-o'
              .information-item_clock-right
                300日前
            = fa_icon 'flag', class: 'fa-flag'

    
    .information-item_comment__note
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    
    %form.information-item_comment__input
      %textarea.information-item_comment__input--text{type: "text", style: "width: 710px; height: 120px;"}
      %input.information-item_comment__input--send{type: "submit", value: "コメントする", style: "width: 710px; height: 50px;"}

    %form.information-item_comment__input2
      %textarea.information-item_comment__input2--text{type: "text", style: "width: 90vw; height: 120px;"}
      %input.information-item_comment__input2--send{type: "submit", value: "コメントする", style: "width: 90vw; height: 50px;"}

  .information-item_link
    .information-item_link__back
      = link_to '#' do
        .information-item_link__back--icon
          <
        .information-item_link__back--name
          前の商品名
    .information-item_link__after
      = link_to '#' do
        .information-item_link__after--name
          後の商品名
        .information-item_link__after--icon
          >
  
  .information-item_share-box
    .information-item_share
      //共有の仕方を調べる
      .information-item_share__facebook
        = fa_icon 'facebook-square', class: 'fa-facebook-square'
      .information-item_share__twitter
        = fa_icon 'twitter-square', class: 'fa-twitter-square'
      .information-item_share__pinterest
        = fa_icon 'pinterest-square', class: 'fa-pinterest-square'

  
  .information-item_other-item
    = link_to '#' do
      .information-item_other-item__name
        出品者名のその他の出品
    .information-item_other-item__content
      .other-item_list
        %img.other-item_list__image{src: "/images/sample.png", style: "width: 230px; height:230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height:230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height:230px;"}
        %h6.other-item_list__name
          ああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height:230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height:230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "/images/kutsu.png" , style: "width: 230px; height: 230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
    
    .information-item_other-item__content2
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
  
  
  .information-item_other-item
    = link_to '#' do
      .information-item_other-item__name
        カテゴリー名 その他の商品
    .information-item_other-item__content
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height: 230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
        
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height: 230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height:230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height: 230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height: 230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18
      .other-item_list
        %img.other-item_list__image{src: "#", style: "width: 230px; height: 230px;"}
        %h6.other-item_list__name
          あああ
        .other-item_list__value
          .other-item_list__value--price
            ¥3,000
          .other-item_list__value--heart
            = fa_icon 'fa-heart-o', class: 'fa-heart-o'
            .heart-number
              18

    .information-item_other-item__content2
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
      .other-item_list
        .information-item_sample-box
          %img.information-item_sample-box__image{src: "/images/sample.png", style: "width: 100%; height:100%;"}
          .information-item_sample-box__price
            ¥3,000
%nav.bread-crumbs
  // パンくずリスト
  .bread-crumbs__line
    -# config/breadcrumbs.rbに定義したshowを呼び出し
    - breadcrumb :items_name
    -# 下記を記述した箇所にパンくずリストを表示させる。
    -# separatorはパンくずの間の区切り「&rsaquo」は出力されると「›」になる。
    = breadcrumbs separator: " &rsaquo; ", class:"bread-crumbs-list"
      
= render partial: 'shared/adside-footer'

= render partial: 'shared/main_footer'


.exhibit-footer_fixed
  = link_to '#' do
    .exhibit-footer_fixed__purchace
      購入画面に進む