!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %link{href: "application.scss", rel: "stylesheets"}
    %link{href: "https://use.fontawesome.com/releases/v5.2.0/css/all.css", rel: "stylesheet"}
    %title メルカリ スマホで簡単 フリマアプリ
      
%body
  .header
    .upper-row
      .upper-row__logo
        .upper-row__logo--mark
          = fa_icon 'box', class: 'icon-merucari'
        %h2.upper-row__logo--merucari
          merucari
      .upper-row__search
        %input.upper-row__search--input{name: "search", placeholder: "キーワードを入力", type: "search", style: "width: 800px; height: 40px;"}
        %button.upper-row__search--button{title: "検索", type: "submit"}
          = fa_icon 'search', class: 'icon'
    .bottom-row
      .bottom-row__category
        = link_to '#' do
          %ul.bottom-row__category--lists
            %li.list-tag
              = fa_icon 'list', class: 'icon-list'
            %li.list-name
              カテゴリーから探す
      .bottom-row__brand
        = link_to '#' do
          %ul.bottom-row__brand--lists
            %li.list-tag
              = fa_icon 'tag', class: 'icon-list'
            %li.list-name
              ブランドから探す
      %ul.bottom-row__lists
        %li.list
          = link_to '#' do
            = fa_icon 'heart', class: 'icon'
        %a.list-name
          = link_to '#' do
            いいね！一覧
        %li.list
          = link_to '#' do
            = fa_icon 'bell', class: 'icon'
        %a.list-name
          = link_to '#' do
            お知らせ
        %li.list
          = link_to '#' do
            = fa_icon 'check', class: 'icon'
        %a.list-name
          = link_to '#' do
            やることリスト
        %li.list
          = link_to '#' do
            = fa_icon 'smile', class: 'icon'
        %a.list-name
          = link_to '#' do
            マイページ
   
  .content
    .link-list
      = link_to "#" do
        %img.link-list__home{src: "#"}
      = link_to "#" do
        %img.linl-list__information{src: "#"}
      %img.link-list__application{src: "#"}
        .link-list__application--footer
          = link_to "#" do
            .apple-link
              アップル
          = link_to "#" do
            .google-link
              google
    
    .popular-category
      .popular-category__title
        人気のカテゴリー
      %ul.popular-category__lists
        %li.list
          = link_to "#" do
            あああ
        %li.list
          = link_to "#" do
            あああ
        %li.list
          = link_to "#" do
            あああ
    .popular-itms
      .popular-header
        %h3.popular-header__title
          レディース新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          メンズ新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          家電新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          おもちゃ新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    
    .popular-brand
      .popular-brand__title
        人気のブランド
      %ul.popular-brand__lists
        %li.list
          = link_to "#" do
            あああ
        %li.list
          = link_to "#" do
            あああ
        %li.list
          = link_to "#" do
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          シャネル新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          ルイヴィトン新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          シュプリーム新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .popular-items
      .popular-header
        %h3.popular-header__title
          ナイキ新着アイテム
        %h6.popular-header__link
          = link_to "#" do
            もっと見る ＞
      .popular-content
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
        .popular-content__item
          %img.popular-content__item--image{src: "#"}
          %h6.popular-content__item--name
            あああ
    .merucari-link
      %img.merucari-link__img{src: "#"}
        = link_to "#" do
          .merucari-link__apple
            アップル
        = link_to "#" do
          .merucari-link__google
            グーグル

    .footer
      .merucari-overview
        %h3.merucari-overview__title
          メルカリについて
        %ul.merucari-overview__lists
          %li.list
            = link_to "#" do
              会社概要（運営会社）
          %li.list
            = link_to "#" do
              採用情報
          %li.list
            = link_to "#" do
              プレスリリース
          %li.list
            = link_to "#" do
              公式ブログ
          %li.list
            = link_to "#" do
              メルカリロゴ利用ガイドライン
        %ul.merucari-overview__links
          %li.link1
            = link_to "#" do
              = fa_icon 'twitter', class: 'other-icon'
          %li.link2
            = link_to "#" do
              = fa_icon 'facebook-square'
      .merucari-guide
        %h3.merucari-guide__title
          ヘルプ＆ガイド
        %ul.merucari-guide__lists
          %li.list
            = link_to "#" do
              メルカリガイド
          %li.list
            = link_to "#" do
              らくらくメルカリ便
          %li.list
            = link_to "#" do
              ゆうゆうメルカリ便
          %li.list
            = link_to "#" do
              大型メルカリ便
          %li.list
            = link_to "#" do
              車体取引ガイド
          %li.list
            = link_to "#" do
              メルカリあんしん・あんぜん宣言！
          %li.list
            = link_to "#" do
              偽ブランド品撲滅への取り組み
          %li.list
            = link_to "#" do
              メルカリボックス
      .merucari-privacy
        %h3.merucari-privacy__title
          プライバシーと利用規約
        %ul.merucari-privacy__lists
          %li.list
            = link_to "#" do
              プライバシーポリシー
          %li.list
            = link_to "#" do
              メルカリ利用規約
          %li.list
            = link_to "#" do
              あんしんスマホサポート制度に関する利用規約
          %li.list
            = link_to "#" do
              コンプライアンスポリシー
      .merucari-privacy2
        %ul.merucari-privacy2__lists
          %li.list
            = link_to "#" do
              個人データの安全管理に係る基本方針
          %li.list
            = link_to "#" do
              特定商取引に関する表記
          %li.list
            = link_to "#" do
              資金決済法に基づく表示
          %li.list
            = link_to "#" do
              法令順守と犯罪抑止のために
      .merucari-country
        %h3.merucari-country__title
          国
        %ul.merucari-country__lists
          %li.list
            = link_to "#" do
              日本
          %li.list
            = link_to "#" do
              United States
      .bottom-row
        %ul.bottom-row__lists
          %li.list
            = link_to "#" do
              merukari
          %li.list
            @2019 Merucari
