.header
  / ヘッダー上段
  .upper-row
    / ヘッダーロゴ
    .upper-row__logo
      .upper-row__logo--mark
        = link_to root_path do
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4194600336", alt: "merucari"
    / 検索フォーム    
    .upper-row__search
      %input.upper-row__search--input{name: "search", placeholder: "何かお探しですか？", type: "search", style: "width: 800px; height: 40px;"}
      %button.upper-row__search--button{title: "検索", type: "submit"}
  .under-row
    .under-row__category
      = link_to '#' do
        %ul.under-row__category--lists
          %li.list-tag
            = fa_icon 'list', class: 'icon-list'
          %li.list-name
            カテゴリーから探す
    .under-row__brand
      = link_to '#' do
        %ul.under-row__brand--lists
          %li.list-tag
            = fa_icon 'tag', class: 'icon-list'
          %li.list-name
            ブランドから探す
      -# ユーザーがログインしている時。各種情報。リンクは仮置き。
    -if user_signed_in?
      %ul.under-row__lists
        %li.list
          = link_to '#' do
            = fa_icon 'heart', class: 'icon'
        %a.list-name
          = link_to '#' do
            いいね！一覧
        %li.list
          = link_to '#' do
            = fa_icon 'bell', class: 'icon'
        %a.list-name
          = link_to '#' do
            お知らせ
        %li.list
          = link_to '#' do 
            = fa_icon 'check', class: 'icon'
        %a.list-name
          = link_to '#' do
            やることリスト
        %li.list
          = link_to '#' do
            = fa_icon 'smile', class: 'icon'
        %a.list-name
          = link_to '#' do
            マイページ
      -# ユーザーがログインしていない時。新規登録、ログイン部分。
    - else
      .under-row__user
        .under-row__user__registration
          =link_to step1_signup_index_path(),class: "under-row__user__registration-btn__text" do
            新規会員登録
          =link_to new_user_session_path(),class: "under-row__user__login-btn__text" do
            ログイン

.middle-wrapper
  .link-list
    = link_to "#",class: "link-list__home" do
      = image_tag ("merucari2.jpg")
    = link_to "#",class: "link-list__infomation"do
      = image_tag ("#")
    %img.link-list__application{src: "#"}
      .link-list__application--footer
        = link_to "#" do
          .apple-link
            アップル
        = link_to "#" do
          .google-link
            google
  
  .popular-category
    .popular-category__title
      人気のカテゴリー
    %ul.popular-category__lists
      %li.list
        = link_to "#" do
          あああ
      %li.list
        = link_to "#" do
          あああ
      %li.list
        = link_to "#" do
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        レディース新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          = image_tag ("merucari1.jpg") 
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        メンズ新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        家電新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        おもちゃ新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  
  .popular-brand
    .popular-brand__title
      人気のブランド
    %ul.popular-brand__lists
      %li.list
        = link_to "#" do
          あああ
      %li.list
        = link_to "#" do
          あああ
      %li.list
        = link_to "#" do
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        シャネル新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        ルイヴィトン新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        シュプリーム新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .popular-items
    .popular-header
      %h3.popular-header__title
        ナイキ新着アイテム
      %h6.popular-header__link
        = link_to "#" do
          もっと見る ＞
    .popular-content
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
      .popular-content__item
        %img.popular-content__item--image{src: "#"}
        %h6.popular-content__item--name
          あああ
  .adside
    %adside-banner
      %img.merucari-link__img
        = link_to "#" do
          .merucari-link__apple
          -# アップル
        = link_to "#" do
          .merucari-link__google
          -# グーグル

  .footer
    %nav
      .merucari-overview
        %h2.merucari-overview__title
          メルカリについて
        %ul.merucari-overview__lists
          %li.list
            = link_to "#", class:"merucari-overview__lists__name" do
              会社概要（運営会社）
          %li.list
            = link_to "#", class:"merucari-overview__lists__name" do
              採用情報
          %li.list
            = link_to "#", class:"merucari-overview__lists__name" do
              プレスリリース
          %li.list
            = link_to "#", class:"merucari-overview__lists__name" do
              公式ブログ
          %li.list
            = link_to "#", class:"merucari-overview__lists__name" do
              メルカリロゴ利用ガイドライン
          %li.list__link1
            = link_to "#", class:"merucari-overview__lists__link1__btn--twitter" do
              = fa_icon 'twitter' 
          %li.list__link2
            = link_to "#", class:"merucari-overview__lists__link2__btn--facebook" do
              = fa_icon 'facebook-square'
      .merucari-guide
        %h3.merucari-guide__title
          ヘルプ＆ガイド
        %ul.merucari-guide__lists
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              メルカリガイド
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              らくらくメルカリ便
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              ゆうゆうメルカリ便
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              大型メルカリ便
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              車体取引ガイド
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              メルカリあんしん・あんぜん宣言！
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              偽ブランド品撲滅への取り組み
          %li.list
            = link_to "#", class:"merucari-guide__lists__name" do
              メルカリボックス
      .merucari-privacy
        %h3.merucari-privacy__title
          プライバシーと利用規約
        .merucari-privacy__lists
          %ul.merucari-privacy__lists__1
            %li.list
              = link_to "#", class:"merucari-privacy__lists__1__name" do
                プライバシーポリシー
            %li.list
              = link_to "#", class:"merucari-privacy__lists__1__name" do
                メルカリ利用規約
            %li.list
              = link_to "#", class:"merucari-privacy__lists__1__name" do
                あんしんスマホサポート制度に関する利用規約
            %li.list
              = link_to "#", class:"merucari-privacy__lists__1__name" do
                コンプライアンスポリシー
          %ul.merucari-privacy__lists__2
            %li.list
              = link_to "#", class:"merucari-privacy__lists__2__name" do
                個人データの安全管理に係る基本方針
            %li.list
              = link_to "#", class:"merucari-privacy__lists__2__name" do
                特定商取引に関する表記
            %li.list
              = link_to "#", class:"merucari-privacy__lists__2__name" do
                資金決済法に基づく表示
            %li.list
              = link_to "#", class:"merucari-privacy__lists__2__name" do
                法令順守と犯罪抑止のために
      .merucari-country
        %h3.merucari-country__title
          国
        %ul.merucari-country__lists
          %li.list
            = link_to "#", class:"merucari-country__lists__name" do
              日本
          %li.list
            = link_to "#", class:"merucari-country__lists__name" do
              United States
    .bottom-row
      %ul.bottom-row__lists
        = link_to "#", class:"bottom-row__lists__btn" do
          %img{ class:"bottom-row__lists__btn", src:"//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2482339763" }
        %span.bottom-row__lists__name  @2019 Merucari
= link_to "", class: "footer-sell-btn" do
  .footer-sell-btn__text
    出品
  = fa_icon "camera"   
        
